@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

body{
    margin:0;
    font-family: "Courier Prime", monospace;
    background-color: #FCF8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container{
    padding: 22px;
}

/* 상단 입력 영역 - 날짜 입력 */
.dateHeader{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    /* margin-bottom:10px; */
    /* padding: 20px 20px 0px 20px; */
    /* background-color: #F5AFAF; */
}

#selectedDate {
    background-color: #fff;
    border: 1px solid #C1A3A3;
    padding: 5px 5px 5px 12px;
    margin: 10px 10px 18px 10px;
    border-radius: 10px;
    min-width: 120px;
    min-height: 20px;
}

#datefont {
    font-size: 14px;
    margin-top: 3px;
}

img {
    width: 19px;
    /* margin-top: -30px; */
}

#datePicker {
    cursor:pointer;
    position:absolute;
    opacity:0;
    /* pointer-events:none; */
}

#calendarIcon {
    cursor:pointer;
    margin-top: -4px;
}

/* 상단 입력 영역 - 입력 */
.inputArea{
    display:flex;
    /* align-items: center; */
    justify-content: space-around;
    background:linear-gradient(
        135deg,
        #F3E1E1,
        #FAF2F2
        );
    padding: 17px;
    border-radius: 15px;
}

#emojiInput {
    /* background-color: #fff; */
    background-color: transparent;
    border: transparent;
    width: 48px;
    font-size: 30px;
    margin-left: -5px;
    /* background-color: #222; */
}

#emojiInput:focus{
    outline: none;
}

.rightArea {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    /* margin-right: 10px; */
    /* background-color: #fff; */
}

#comment {
    color: #886F6F;
    font-size: 14px;
    font-weight: 500;
}

#saveBtn {
    padding:7px 12px;
    background-color: #7D5A5A;
    cursor:pointer;
    border: none;
    border-radius: 15px;
    color: #fff;
    width: 68px;
    font-family: "Courier Prime", monospace;
    font-size: 13px;
}

#today {
    font-size:18px;
    margin-bottom:10px;
}

/* 월 이동 및 달력 */
.monthNav {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
    margin-top:10px;
}

.monthNav>button {
    background-color: transparent;
    border: none;
    font-size: 13px;
    color: #C1A3A3;
}

#monthText {
    color: #694E4E;
    font-size: 14px;
}

#calendar{
    margin-top:10px;
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap: 8px;
}

.day{
    aspect-ratio: 1 / 1;
    width: 29px;
    /* padding: 1px; */
    display:flex;
    align-items:center;
    justify-content:center;
    background:white;
    border-radius:7px;
    cursor:pointer;
    box-shadow:0 2px 6px rgba(0,0,0,0.05);
    transition:0.15s;
    font-size: 17px;
}

.day:hover{
    transform:translateY(-3px);
}

.today {
    background: #F9DFDF;
}

.selected {
    /* background: #E7CBCB; */
    box-sizing: border-box;
    border: 1px solid #C1A3A3;
}

.other-month {
    opacity: 0.35;
}

/* 툴팁 */
#tooltip{
    position:absolute;
    background:#D9CFC7;
    color:white;
    padding:6px 10px;
    font-size:13px;
    border-radius:6px;
    pointer-events:none;
    opacity:0;
    transition:0.15s;
}

