body {
    margin: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    font-family: "Pixelify Sans", sans-serif;
}

.memo {
    width: 100%;
    max-width: 500px;

    padding: 15px;

    background: #FBEFEF;
    color: #eec6c6;
    text-align: center;

    border: 4px solid #eec6c6;
    border-radius: 0;

    box-shadow:
        4px 4px 0 #eec6c6,
        8px 8px 0 rgba(0, 0, 0, 0.1);
}

.title {
    margin-bottom: 6px;
    font-size: 22px;
    font-weight: bold;
}

.subtitle {
    margin-bottom: 15px;
    font-size: 16px;
    opacity: 0.7;
}

.input-memo {
    display: flex;
    gap: 8px;
}

input {
    flex: 1;
    height: 22px;
    padding: 0 5px;
    border: none;
    border-radius: 8px;
    color: #57595B;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
    outline: none;
    transition: all 0.2s ease;
    font-family: "Galmuri9", monospace;
    font-size: 16px;
}

input::placeholder {
    font-size: 14px;
    font-family: "Pixelify Sans", sans-serif;
}

#addBtn {
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #F5CBCB;
    font-family: "Pixelify Sans", sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
}

#addBtn:hover {
    transform: translateY(-1px);
}

#addBtn:active {
    transform: scale(0.97);
}

#divider {
    border-top: 1px dashed #eec6c6;
    margin: 20px 20px;
}

.memo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    border: none;
    transition: .2s;
    font-family: "Galmuri9", monospace;
}

.memo-text {
    flex: 1;
    font-size: 14px;
    text-align: left;
    color: #57595B;
    cursor: pointer;
    word-break: break-word;
}

.delete-btn {
    width: 22px;
    height: 22px;
    margin-left: 5px;
    font-family: "Pixelify Sans", sans-serif;
    border: none;
    border-radius: 20px;
    background-color: #F5D2D2;
    color: #896C6C;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.delete-btn:hover {
    transform: translateY(-1px);
}

.delete-btn:active {
    transform: scale(0.97);
}

.memo-item:hover .delete-btn {
    opacity: 1;
    visibility: visible;
}